.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 20px;
}
.nav-items>ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.search {
    padding: 10px;
}
.res-card {
    width: 200px;
    padding: 5px;
    margin: 5px;
}
.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
    transition-duration: 10ms;
}
.res-logo {
    width: 100%;
    height: 150px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
}
.filter {
    display: flex;
    margin: 5px;
    margin-top: 10px;
}
.filter-btn {
    padding: 5px;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    height: 350px;
    width: 200px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
}
.login-btn {
    padding: 5 10px;
    cursor: pointer;
}
.error {
    height: 90vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: #dcdcdcff;
    font-size: xx-large;
}